@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
/* font-family: 'Cormorant', serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {height: 100%}

body {overflow-x: hidden;}

header {
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  position: relative;
}

header .container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
}

header .container .full-landing-image {
  width: 100%;
  height: 100vh;
  background: url('../img/bg1.png') no-repeat center center/cover;
}

header .container h1 {
  color: #2D75FF;
  font-size: 7rem;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Cormorant', serif;
  /* font-family: 'Poppins', sans-serif; */
  text-transform: uppercase;
  position: absolute;
  top: 40%; left: 13%;
  /* font-family: 'Ivy Mode'; */
  /* font-family: "IvyMode",sans-serif; */
  font-weight: 700;  
}

header .container > p {
  color: #2D75FF;
  font-size: 1.5rem;
  position: absolute;
  top: 43%; left: 63%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

header .container > p > span::after {
  content: '';
  height: 20px;
  width: 3px;
  margin: 0 5px 0 2px;
  background-color: #2D75FF;
  display: inline-block;
  animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

header .container .top > p {
  color: #656F7C;
  font-size: 0.9rem;
  position: absolute;
  top: 5%; left: 85%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

header .container .top > span {
  color: #656F7C;
  font-size: 0.9rem;
  position: absolute;
  top: 5%; left: 63%;
  /* font-family: "IvyMode",sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

header .container .bottom .bottom-left {
  float: left;
  position: absolute;
  bottom: 5%; left: 63.5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #656F7C;
  font-size: 0.9rem;
}

header .container .bottom .bottom-left p {
  margin-bottom: 5px;
  font-weight: 500;
}

header .container .bottom .bottom-right {
  float: right;
  position: absolute;
  bottom: 5%; left: 85%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #656F7C;
  font-size: 0.9rem;
}

header .container .bottom .bottom-right p {
  margin-bottom: 5px;
  font-weight: 500;
}

header .scroll span {
  width: 10px; 
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10%; left: 50%;
  animation: scroll 3s linear infinite;
  animation-timing-function: ease-in-out;
}

header .scroll .s-arr {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 10%; left: 50%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 10%;
  transform: rotate(225deg);
  animation: scroll 3s linear infinite;
  animation-timing-function: ease-in-out;
  display: block;
}

header .scroll span:nth-child(1) {
  animation-delay: 0s;
}

header .scroll span:nth-child(2) {
  animation-delay: 0.6s;
  position: absolute;
  bottom: 7%; left: 50%;
}

header .scroll .s-arr:nth-child(3) {
  animation-delay: 0.9s;
  position: absolute;
  bottom: 4%; left: 50%;
}

@keyframes scroll {
  0%, 100% {
    opacity: 0;
    transform: rotate(225deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(225deg) scale(1.4);
  }
}

header .top-btn {
  width: 100px; 
  height: 100px;
  border: none;
  position: fixed;
  bottom: 7%; left: 94%;
  display: none;
  z-index: 99;
  cursor: pointer;
}

header .top-btn span {
  width: 10px; 
  height: 10px;
  border: 2px solid #77a7ff;;
  border-radius: 50%;
  position: absolute;
  bottom: 72%; left: 43.6%;
  animation: top 3s linear infinite;
  animation-timing-function: ease-in-out;
}

header .top-btn .arr {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 70%; left: 43.6%;
  border-top: 3px solid #77a7ff;;
  border-left: 3px solid #77a7ff;;
  border-radius: 10%;
  transform: rotate(45deg);
  animation: top 3s linear infinite;
  animation-timing-function: ease-in-out;
}

header .top-btn .arr:nth-child(1) {
  transform: rotate(45deg);
  animation-delay: 0.9s;
} 

header .top-btn span:nth-child(2) {
  animation-delay: 0.6s;
  position: absolute;
  bottom: 42%; left: 43.6%;
}

header .top-btn span:nth-child(3) {
  animation-delay: 0s;
  position: absolute;
  bottom: 12%; left: 43.6%;
} 

@keyframes top {
  0%, 100% {
    opacity: 0;
    transform: rotate(45deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) scale(1.4);
  }
}


/* main  --------------------------- */
main {
  width: 100%;
  display: block;
  padding-bottom: 1080px; 
}

main .inner .full-landing-image {
  width: 100%;
  height: 100vh;
  background: url('../img/bg2.png') no-repeat center center/cover;
}

main .inner {
  position: relative;
}

main .inner .top {
  font: 200 1rem 'Poppins', sans-serif;
  color: #656F7C;
  position: absolute;
  top: 8%; left: 12%;
}

main .inner .introduce {
  position: absolute;
  top: 36%; left: 24%;
}

main main .inner .introduce h3 {
  font: 600 1.4rem 'Poppins', sans-serif;
  color: #656F7C;
  text-transform: uppercase;
  margin-bottom: 10px;
}

main .inner .introduce h1 {
  font: 700 3rem 'Cormorant', serif;
  color: #2D75FF;;
  text-transform: uppercase;
  margin-bottom: 24px;
}

main .inner .introduce span {
  font: 400 0.9rem 'Noto Sans KR', sans-serif;
  color: #2D75FF;;
  margin: 0px;
  white-space: pre;
}

main .inner .introduce p {
  height: 250px;
  margin: -115px 0px 0px 320px;
  white-space: pre;
  font: 400 1rem 'Noto Sans KR', sans-serif;
  color: #656F7C;
}

main .inner .introduce .phone {
  height: 50px;
  font: 300 0.9rem 'Poppins', sans-serif;
  color: #656F7C;
}

main .inner .introduce .email {
  height: 50px;
  font: 300 0.9rem 'Poppins', sans-serif;
  color: #656F7C;
  margin-top: -26px;
}

main .inner .won {
  width: 200px;
  height: 200px;
  background: url('../img/won.png') center center/cover;
  position: absolute;
  top: 24.5%; left: 16%;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

main .sub-bg { 
  width: 100%;
  /* max-width: 1920px; */
  /* width: 1920px; */
  height: 650px; 
  position: relative;
  display: flex;
  overflow: hidden;
}

main .sub-bg .full-landing-image {
  width: 100%;
  /* width: 1920px; */
  /* height: 650px; */
  /* height: 100vh; */
  height: 100%;
  background: url('../img/bg1.png') no-repeat center center/cover fixed ;
} 

main .sub-bg .text {
  background: #fff;
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;;
  overflow: hidden;
  transition: all .2s;
  font: 300 1.4rem 'Cormorant', serif;
  color: #639aff;
  position: absolute;
  top: 45%; left: 0;
  text-transform: uppercase;
  line-height: 50px;
  opacity: 0.7;
}

main .sub-bg .text:hover {
  color: #656F7C;
}

main .sub-bg .text:hover .text-wrap {
  animation-play-state: paused;
  cursor: pointer;
  color: #656F7C;
}

main .sub-bg .text .text-wrap {
  animation: textLoop 20s linear infinite;
}

@keyframes textLoop {
 0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }

 100% {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }  
}

main .skill-box .full-landing-image {
  width: 100%;
  height: 100vh;
  background: url('../img/bg3.png') no-repeat center center/cover;
}

.skill-box  {
  position: relative;
}

.skill-box .top {
  font: 200 1rem 'Poppins', sans-serif;
  color: #656F7C;
  position: absolute;
  top: 8%; left: 12%;
}

.skill-box h1 {
  font: 700 4rem 'Cormorant', serif;
  text-transform: uppercase;
  color: #2D75FF;
  position: absolute;
  top: 33%; left: 46%;
}

.skill-box .icon {
  display: flex;
  position: absolute;
  top: 54%; left: 19.5%;
}

.skill-box .icon span {
  width: 120px;
  height: 120px;
  margin-right: 34px;
  position: relative;
}

.skill-box .icon span:hover {
  cursor: pointer;
}

.skill-box .icon span:hover {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.skill-box .icon span::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #656F7C;
  border-radius: 25%;
  position: absolute;
  bottom: 10%;
  right: 8%;
}

.skill-box .icon span:hover::after {
  border-color: #2D75FF;
  border-width: 2px;
} 

/* ///////////////////////////////////// */
/* 포트폴리오 clone */
main .portfolio-box {
  width: 100%;
  height: 100%;
  /* height: 1080px; */
  position: relative;
  display: block;
}

main .portfolio-box .full-landing-image {
  width: 100%;
  /* height: 100vh; */
  /* height: 100%; */
  height: 1080px;
  background: url('../img/bg4.png') no-repeat center center/cover;
}

main .portfolio-box .top {
  font: 200 1rem 'Poppins', sans-serif;
  color: #656F7C;
  position: absolute;
  top: 8%; left: 12%;
}

main .clone {
  /* width: 100%; */
  /* height: 100%;  */
  height: 600px;
  position: absolute;
  top: 22%; left: 12%;
}

main .clone h1 {
  width: 500px;
  height: 100px;
  position: absolute;
  top: -18%; left: 32%;
  font: 700 3.8rem 'Cormorant', serif;
  color: #2D75FF;
  text-align: center;
}

main .clone .clone-box {
  /* width: 100%; */
  width: 1500px;
  /* height: 100%; */
  display: flex;
  margin-top: 30px;
}

main .clone .clone-box .clone-01 {
  margin-right: 8%;
  position: relative;
}

main .clone .clone-box .clone-01 > p {
  width: 660px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
}

main .clone .clone-box .clone-01 p img {
  position: absolute;
  top: 28px; left: 30px;
  border: 1px solid #eee;
}

main .clone .clone-box .clone-01 .text {
  width: 600px;
  position: absolute;
  top: 65%; left: 6%;
  display: block;
}

main .clone .clone-box .clone-01 .text > h3 {
  font: 600 1.6rem 'Noto Sans KR', sans-serif;
  color: #656F7C;
  margin-bottom: 12px;
}

main .clone .clone-box .clone-01 .text > p {
  font: 400 1.1rem 'Poppins', sans-serif;
  color: #8b949e;
  white-space: pre;
}

main .clone .clone-box .clone-01 .text > span {
  font: 400 1.1rem 'Poppins', sans-serif;
  background-color: #77a7ff;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 4%; left: 75%;
}

main .clone .clone-box .clone-01 .text > button a {
  font: 400 1.2rem 'Poppins', sans-serif;
  color:  #2D75FF;
  width: 150px;
  height: 46px;
  border: 1px solid #77a7ff;
  background-color: #fff;
  border-radius: 25px; 
  text-decoration: none;
  display: block;
  line-height: 46px;
  position: relative;
}

main .clone .clone-box .clone-01 .text > button a:hover {
  background-color: #2D75FF;
  color: #fff;
}

main .clone .clone-box .clone-01 .text > button.ori {
  position: absolute;
  bottom: -64%; left: 46%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .clone .clone-box .clone-01 .text > button.cl {
  position: absolute;
  bottom: -64%; left: 73%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .clone .clone-box .clone-02 {
  position: relative;
}

main .clone .clone-box .clone-02 > p {
  width: 660px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
}

main .clone .clone-box .clone-02 p img {
  position: absolute;
  top: 28px; left: 30px;
}

main .clone .clone-box .clone-02 .text {
  width: 600px;
  position: absolute;
  top: 65%; left: 6%;
  display: block;
}

main .clone .clone-box .clone-02 .text > h3 {
  font: 600 1.6rem 'Noto Sans KR', sans-serif;
  color: #656F7C;
  margin-bottom: 12px;
}

main .clone .clone-box .clone-02 .text > p {
  font: 400 1.1rem 'Poppins', sans-serif;
  color: #8b949e;
  white-space: pre;
}

main .clone .clone-box .clone-02 .text > span {
  font: 400 1.1rem 'Poppins', sans-serif;
  background-color: #77a7ff;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 4%; left: 40%;
}

main .clone .clone-box .clone-02 .text > button a {
  font: 400 1.2rem 'Poppins', sans-serif;
  color:  #2D75FF;
  width: 150px;
  height: 46px;
  border: 1px solid #77a7ff;
  background-color: #fff;
  border-radius: 25px; 
  text-decoration: none;
  display: block;
  line-height: 46px;
  position: relative;
}

main .clone .clone-box .clone-02 .text > button a:hover {
  background-color: #2D75FF;
  color: #fff;
}

main .clone .clone-box .clone-02 .text > button.ori {
  position: absolute;
  bottom: -64%; left: 46%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .clone .clone-box .clone-02 .text > button.cl {
  position: absolute;
  bottom: -64%; left: 73%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* 포트폴리오 reDesign */
main .portfolio-box-reD {
  width: 100%;
  height: 100%;
  /* height: 1080px; */
  position: relative;
  display: block;
}

main .portfolio-box-reD .full-landing-image {
  width: 100%;
  /* height: 100vh; */
  /* height: 100%; */
  height: 1080px;
  background: url('../img/bg3.png') no-repeat center center/cover;
}

main .portfolio-box-reD .top {
  font: 200 1rem 'Poppins', sans-serif;
  color: #656F7C;
  position: absolute;
  top: 3%; left: 12%;
}

main .re-design {
  /* width: 100%; */
  /* height: 100%; */
  height: 600px;
  position: absolute;
  top: 11%; left: 12%;
}

main .re-design h1 {
  width: 500px;
  height: 100px;
  position: absolute;
  top: -18%; left: 36%;
  font: 700 3.8rem 'Cormorant', serif;
  color: #2D75FF;
  text-align: center;
  margin: 0 auto;
}

main .re-design .reD-box {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 30px;
}

main .re-design .reD-box .reD-01 {
  margin-right: 8%;
  position: relative;
}

main .re-design .reD-box .reD-01  > p {
  width: 660px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
}

main .re-design .reD-box .reD-01 p img {
  position: absolute;
  top: 28px; left: 30px;
}

main .re-design .reD-box .reD-01 .text {
  width: 600px;
  position: absolute;
  top: 65%; left: 6%;
  display: block;
}

main .re-design .reD-box .reD-01 .text > h3 {
  font: 600 1.6rem 'Noto Sans KR', sans-serif;
  color: #656F7C;
  margin-bottom: 12px;
}

main .re-design .reD-box .reD-01 .text > p {
  font: 400 1.1rem 'Poppins', sans-serif;
  color: #8b949e;
  white-space: pre;
}

main .re-design .reD-box .reD-01 .text > span {
  font: 400 1.1rem 'Poppins', sans-serif;
  background-color: #77a7ff;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 4%; left: 32%;
}

main .re-design .reD-box .reD-01 .text > button a {
  font: 400 1.2rem 'Poppins', sans-serif;
  color:  #2D75FF;
  width: 150px;
  height: 46px;
  border: 1px solid #77a7ff;
  background-color: #fff;
  border-radius: 25px; 
  text-decoration: none;
  display: block;
  line-height: 46px;
  position: relative;
  transition: all .5s;
}

main .re-design .reD-box .reD-01 .text > button a:hover {
  background-color: #2D75FF;
  color: #fff;
  transition: all .5s;
}

main .re-design .reD-box .reD-01 .text > button.ori {
  position: absolute;
  bottom: -64%; left: 46%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .re-design .reD-box .reD-01 .text > button.re {
  position: absolute;
  bottom: -64%; left: 73%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .re-design .reD-box .reD-02 {
  position: relative;
}

main .re-design .reD-box .reD-02 > p {
  width: 660px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
}

main .re-design .reD-box .reD-02 p img {
  position: absolute;
  top: 28px; left: 30px;
  border: 1px solid #eee;
}

main .re-design .reD-box .reD-02 .text {
  width: 600px;
  position: absolute;
  top: 65%; left: 6%;
  display: block;
}

main .re-design .reD-box .reD-02 .text > h3 {
  font: 600 1.6rem 'Noto Sans KR', sans-serif;
  color: #656F7C;
  margin-bottom: 12px;
}

main .re-design .reD-box .reD-02 .text > p {
  font: 400 1.1rem 'Poppins', sans-serif;
  color: #8b949e;
  white-space: pre;
}

main .re-design .reD-box .reD-02 .text > span {
  font: 400 1.1rem 'Poppins', sans-serif;
  background-color: #77a7ff;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 4%; left: 28%;
}

main .re-design .reD-box .reD-02 .text span.group1 {
  position: absolute;
  top: 4%; left: 28%;
}

main .re-design .reD-box .reD-02 .text span.group2 {
  position: absolute;
  top: 4%; left: 39%;
}

main .re-design .reD-box .reD-02 .text > button a {
  font: 400 1.2rem 'Poppins', sans-serif;
  color:  #2D75FF;
  width: 150px;
  height: 46px;
  border: 1px solid #77a7ff;
  background-color: #fff;
  border-radius: 25px; 
  text-decoration: none;
  display: block;
  line-height: 46px;
  position: relative;
  transition: all .5s;
}

main .re-design .reD-box .reD-02 .text > button a:hover {
  background-color: #2D75FF;
  color: #fff;
  transition: all .5s;
}

main .re-design .reD-box .reD-02 .text > button.ori {
  position: absolute;
  bottom: -64%; left: 46%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .re-design .reD-box .reD-02 .text > button.re {
  position: absolute;
  bottom: -64%; left: 73%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

main .re-design .reD-box .reD-02 .text > button.pt {
  position: absolute;
  bottom: -64%; left: 19%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* 포트폴리오 Design */
main .portfolio-box-D {
  width: 100%;
  height: 100%;
  /* height: 1080px; */
  position: relative;
  display: block;
}

main .portfolio-box-D .full-landing-image {
  width: 100%;
  /* height: 100vh; */
  /* height: 100%; */
  height: 1080px;
  background: url('../img/bg4.png') no-repeat center center/cover;
}

main .portfolio-box-D .top {
  font: 200 1rem 'Poppins', sans-serif;
  color: #656F7C;
  position: absolute;
  top: 5%; left: 12%;
  align-items: center;
  width: 1440px
}

main .portfolio-box-D .top .right {
  float: right;
  display: flex;
}

main .portfolio-box-D .top .right li {
  list-style: none;
  cursor: pointer;
}

main .portfolio-box-D .top .right li a {
  text-decoration: none;
  font: 200 1.5rem 'Poppins', sans-serif;
  color: #656F7C;
  margin-left: 100px;
  transition: all .3s;
}

main .portfolio-box-D .top .right li a.active {
  color: #2D75FF;
}

main .portfolio-box-D .top .right li a:hover {
  color: #2D75FF;
  transition: all .3s;
}

main .portfolio-box-D .section .tab {
  position: absolute;
  top: 20%; left: 0;
  width: 100%;
  /* height: 100%; */
}

/* 상세페이지 */
main .portfolio-box-D .section .tab .slide-1 {
  width: 100%;
  height: 620px;
  padding-top: 20px;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper {
  width: 100%;
  height: 600px;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper .swiper-slide {
  width: 200px;
  height: 400px;
  margin-top: 100px;
  border-radius: 30px;
  transform: translateY(0);
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.5);
  border-radius: 30px;
  margin-left: 100px;
  overflow: hidden;
  border: 6px solid #77a7ff;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper .swiper-slide.swiper-slide-active:hover {
  transform: scale(1.5) translateY(-10px);
  transition: all 0.5s;
}

main .portfolio-box-D .section .tab .slide-1 .swiper-wrapper .swiper-slide.swiper-slide-next {
  margin-left: 100px;
}

/* 이벤트페이지 */
main .portfolio-box-D .section .tab .slide-2 {
  width: 100%;
  height: 620px;
  padding-top: 20px;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper {
  width: 100%;
  /* width: 1890px; */
  height: 600px;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper .swiper-slide {
  width: 354px; 
  height: 400px;
  margin-top: 100px;
  border-radius: 30px;
  transform: translateY(0);
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.5);
  border-radius: 30px;
  margin-left: 100px;
  border: 6px solid #77a7ff;
  overflow: hidden;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper .swiper-slide.swiper-slide-active:hover {
  transform: scale(1.5) translateY(-10px);
  transition: all 0.5s;
}

main .portfolio-box-D .section .tab .slide-2 .swiper-wrapper .swiper-slide.swiper-slide-next {
  margin-left: 100px;
}

/* 배너디자인 */
main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box1 {
  width: 1600px;
  margin: 110px auto;
  margin-left: 230px;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box1 .down {
  margin-top: 30px;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box1 a img {
  border-radius: 20px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0px 3px 3px 3px #e2e2e2;
  margin: 12px;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box1 a img:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box2 {
  width: 1600px;
  margin: 30px auto;
  margin-left: 250px;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box2 a img {
  border-radius: 20px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0px 3px 3px 3px #e2e2e2;
  margin: 12px;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box2 a img:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box2 .down {
  margin-top: 40px;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box3 {
  width: 1600px;
  /* height: 100vh; */
  margin: 10px auto;
  margin-left: 284px;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box3 a img {
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0px 3px 3px 3px #e2e2e2;
  margin: 12px;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-wrapper .swiper-slide .box3 a img:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-button-next {
  margin-right: 120px;
  color: #77a7ff;
}

main .portfolio-box-D .section .tab .slide-3 .swiper-button-prev {
  margin-left: 120px;
  color: #77a7ff;
}

/* ect */
main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box1 {
  width: 1600px;
  margin: 0 auto;
  position: relative;
} 

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box1 a img {
  margin: 30px;
  border-radius: 30px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0px 3px 3px 3px #e2e2e2;
  opacity: 0.5;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box1 a:nth-child(1) img {
  margin-left: 205px;
  object-fit: cover;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box1 a:nth-child(3) img {
  position: absolute;
  top: 0; right: 12%;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box1 a img:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box2 {
  width: 1600px;
  margin: 0 auto;
} 

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box2 a img {
  width: 400px;
  margin: 40px;
  border-radius: 30px;
  transform: translateY(0);
  transition: all 0.5s;
  box-shadow: 0px 3px 3px 3px #e2e2e2;
  opacity: 0.6;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box2 a img:first-child {
  margin-left: 80px;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-wrapper .swiper-slide .box2 a img:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
  opacity: 1;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-button-next {
  margin-right: 120px;
  color: #77a7ff;
}

main .portfolio-box-D .section .tab .slide-4 .swiper-button-prev {
  margin-left: 120px;
  color: #77a7ff;
}

/* footet ------------------------ */
footer {
  width: 100%;
  height: auto;
  /* height: 100%; */
  /* height: 1080px; */
  position: relative;
  transform: translateY(-100%);
  display: block;
}

footer .full-landing-image {
  width: 100%;
  /* height: 100vh; */
  height: 1080px;
  background: url('../img/bg5.png') no-repeat center center/cover;
}

/* 마우스 호버----------------------- */
footer .end {
  cursor: pointer;
}

footer .end:before, footer .end:after {
  position: absolute;
  top: 33%; left: 39%;
  width: 400px;
  height: 1px;
  background: #2D75FF;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.3s, height 0.3s;
  -moz-transition: opacity 0.3s, height 0.3s;
  transition: opacity 0.3s, height 0.3s;
} 

footer .end:after {
  top: 62%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

footer .end span {
  position: absolute;
  top: 50%; left: 40.7%;
  font: 300 1.5rem 'Poppins', sans-serif;
  color: #656F7C;
  /* ------------------------------ */
  z-index: 1;
  display: block;
  padding: 8px 0 0 0;
  /* color: rgba(255, 255, 255, 0.4); */
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
} 

footer .end p {
  position: absolute;
  top: 54%; left: 38.1%;
  font: 200 1.2rem 'Poppins', sans-serif;
  color: #656F7C;
  display: block;
  /* ------------------------------ */
  z-index: 1;
  display: block;
  padding: 8px 0 0 0;
  /* color: rgba(255, 255, 255, 0.4); */
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
} 

footer .end:hover:before, footer .end:focus:before {
  height: 6px;
}

footer .end:hover:before, footer .end:hover:after, footer .end:focus:before, footer .end:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

footer .end:hover p, footer .end:focus p {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

footer .end:hover span, footer .end:focus span {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
} 
/* -------------------- */

footer .end h1 {
  position: absolute;
  top: 36%; left: 40%;
  font: 700 7rem 'Cormorant', serif;
  color: #2D75FF;
}

footer .bottom span {
  position: absolute;
  bottom: 8%; left: 84%;
  font: 500 1.2rem 'Poppins', sans-serif;
  color: #656F7C;
}

footer .bottom .tit {
  position: absolute;
  bottom: 5%; left: 8%;
  font: 400 1rem 'Poppins', sans-serif;
  color: #656F7C;
}

footer .bottom .p {
  position: absolute;
  bottom: 5%; left: 63.5%;
  font: 300 1rem 'Poppins', sans-serif;
  color: #656F7C;
}

footer .bottom .e {
  position: absolute;
  bottom: 5%; left: 84%;
  font: 300 1rem 'Poppins', sans-serif;
  color: #656F7C;
}
